<div class="panel panel-default sacrament-list">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <!-- <span class="pull-left title">Sacrament Plans</span> -->
      <a class="btn btn-success pull-right add-btn" routerLink="new"
        >Add Plan</a
      >
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <app-sacrament-item
        *ngFor="let sacrament of sacraments"
        [sacrament]="sacrament"
      ></app-sacrament-item>
    </div>
  </div>
</div>
